<h1 class="mt-3"><%= @team.name %> Schedule</h1>
<div class="table-responsive ">
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Tournament</th>
      <th>Location</th>
      <th>Facility</th>
    </tr>
    <tr>
      <td>APRIL 19-20TH</td>
      <td>MIDWEST SPRING SHOWCASE</td>
      <td>MADISON</td>
      <td>STOUGHTON / VERONA</td>
    </tr>
    <tr>
      <td>APRIL 26-28</td>
      <td>WINDY CITY CLASSIC</td>
      <td>MILWAUKEE</td>
      <td>
        MILWAUKEE CONVENTION CENTER<br>
        MILWAUKEE STATE FAIR
      </td>
    </tr>
    <tr>
      <td>MAY 18-19</td>
      <td>BRING YOUR BEST</td>
      <td>AMES</td>
      <td>FIELDHOUSE</td>
    </tr>
    <tr>
      <td>JULY 5-8</td>
      <td>RUN FOR THE ROSES</td>
      <td>LOUISVILLE</td>
      <td>KENTUCKY EXPO CENTER</td>
    </tr>
    <tr>
      <td>JULY 9-12</td>
      <td>TOURNAMENT OF CHAMPIONS</td>
      <td>CHICAGO</td>
      <td>MCCORMICK CENTER</td>
    </tr>
    <tr>
      <td>JULY 20-22</td>
      <td>ATLANTA PEACH SPLASH</td>
      <td>ATLANTA</td>
      <td>GEORGIA WORLD CONGRESS CENTER</td>
    </tr>
    <tr>
      <td>JULY 23-25</td>
      <td>NATIONAL CHAMPIONSHIP</td>
      <td>ATLANTA</td>
      <td>GEORGIA WORLD CONGRESS CENTER</td>
    </tr>
  </table>
</div>
